*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #553363;
}

.keys{
  display: flex;
  justify-content: center;
  margin-top: 15rem;
}

.key{
  margin: 1rem;
  background: #553363;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid green;
  text-align: center;
  transform: scale(1.1);
}
.key:hover{
  border-color: rgb(10, 92, 164);
}

.playing{
  border-color: rgb(10, 92, 164);
}

kbd{
  display: block;
  font-size: 40px;
}
